* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
    /* A cada 1rem será considerado 10px */
}

::selection {
    background-color: var(--white-color);
    color: var(--black-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--black-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 2px;
}

html,
body {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.0rem;
    width: 100%;
    min-width: 370px;
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.267);
}

.first {
    background: var(--black-color);
    position: fixed;
    top: 0;
    z-index: 2;
}

.text-center {
    font: 500 normal 1.6rem/196.19% 'Montserrat';
    color: var(--white-color);
}

.title {
    font: 600 normal 2.4rem/196.19% 'Montserrat';
    color: var(--black-color);
}

.secund {
    background: var(--white-color);
    position: fixed;
    top: 6rem;
    z-index: 2;
}

.spacing-header {
    height: 12.1rem;
}

.background-image {
    display: flex;
    align-items: center;
    height: 378px;
    background: url(../img/background.png) no-repeat center/cover;
    filter: brightness(60%);
    min-width: 370px;
}

.text-figure {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 450px;
    height: 123px;
    margin-left: 10%;
}

.text-figure h2 {
    font: 700 normal 3.2rem/3.9rem 'Montserrat';
    display: flex;
    text-align: left;
    color: var(--white-color);
    margin-bottom: 1.0rem;
}

.text-figure p {
    font: 600 normal 1.8rem/196.19% 'Montserrat';
    display: flex;
    align-items: center;
    color: var(--white-color);
}

.section {
    margin: 0 auto;
    max-width: 1560px;
    display: grid;
    min-width: 370px;
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin: 2.0rem 0;
}

.sneakers-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    justify-content: center;
    column-gap: 2.0rem;
    row-gap: 3.0rem;
    margin: 2.0rem 2.0rem 9rem 2.0rem;
}

.box {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-color);
    cursor: pointer;
    transition: all ease-in .3s;
}

.highlights h2 {
    font: 600 normal 3.2rem/196.19% 'Montserrat';
    color: var(--black-color);
}

.highlights p {
    font: 500 normal 2.0rem/196.19% 'Montserrat';
    color: #474747;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.space-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.0rem;
    background: var(--black-color);
    min-width: 370px;
}

.space-footer {
    font: 500 normal 1.8rem/196.19% 'Montserrat';
    color: var(--white-color);
}

.box:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    background-color: var(--white-color);
}